.experience {
   padding-top: 24px;
   min-height: 100vh;
}

.experience__heading > h2 {
   font-size: 20px;
   margin: 0 0 24px 0;
   width: 100%;
}

.experience__container {
   display: flex;
   flex-direction: row;
   /* justify-content: space-around; */
   flex-wrap: wrap;
   gap: 24px;
   /* width: 100%; */
}

.experience__timeline {
   --tl-bullet-size: calc(3.8rem * var(--mantine-scale)) !important;
}

.icon {
   scale: 0.8;
}

.experience__title {
   font-weight: 600;
   font-size: medium;
}

.experience__company {
   font-weight: 400;
   font-size: small;
}

.experience__date {
   font-weight: 400;
   font-size: small;
}

/* 768px Tablet Css */
@media screen and (min-width: 768px) {
   .experience {
      margin-top: 36px;
   }

   .experience__heading > h2 {
      font-size: 24px;
      margin: 0 0 36px 0;
   }

   .experience__container {
      gap: 24px;
   }

   .experience__timeline {
      --tl-bullet-size: calc(4.8rem * var(--mantine-scale)) !important;
   }

   .icon {
      scale: 1;
   }

   .experience__title {
      font-size: large;
   }

   .experience__company {
      font-size: medium;
   }

   .experience__date {
      font-size: medium;
   }
   
}

/* 1440px Desktop Css */
@media screen and (min-width: 1440px) {
   .experience {
      margin-top: 48px;
   }

   .experience__heading > h2 {
      font-size: 40px;
      margin: 0 0 48px 0;
   }

   .experience__container {
      /* gap: 24px; */
   }

   .experience__timeline {
      --tl-bullet-size: calc(4.8rem * var(--mantine-scale)) !important;
   }

   .icon {
      scale: 1;
   }

   .experience__title {
      font-size: x-large;
   }

   .experience__company {
      font-size: large;
   }

   .experience__date {
      font-size: large;
   }
}
