/* Major mono display */
/* Source Code Pro */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
   background-color: black;
   color: white;
   font-family: "Source Code Pro", monospace;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Major Mono Display", monospace;
}
